@import "./global.scss";


$element-radius: 4px;
$element-background: rgba(100, 100, 100, 0.4);
$element-border: 1px solid rgba(255, 255, 255, 0.6);

.selector {
    word-spacing: 0;
    white-space: 0;
    border-spacing: 0;
    display: flex;

    span,
    img,
    div,
    a {
        display: block;
        border: $element-border;
        border-right: none;
        margin: 0;
        padding: 4px;
        background-color: $element-background;
        cursor: pointer;

        &[selected] {
            background-color: $white;
            color: $black;

        }

        &:hover {
            background-color: $theme-color;
            color: $white;
        }

        &:first-child {
            border-top-left-radius: $element-radius;
            border-bottom-left-radius: $element-radius;
        }

        &:last-child {
            border-top-right-radius: $element-radius;
            border-bottom-right-radius: $element-radius;
            border-right: $element-border;
        }
    }
}


button {
    border: $element-border;
    background-color: $element-background;
    color: white;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        background-color: rgba(255, 255, 255, 0.9);
        color: black;
    }
}