@import "./windows.scss";
@import "./global.scss";

* {
    box-sizing: border-box;
}

*[hidden] {
    display: none;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    margin: 0;
    background-color: $background-color;
    color: $white;

    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;

    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.3);
}

#canvas {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#debug-menu {
    position: absolute;
    padding: 4px;
    top: 0;
    right: 0;
    background-color: aqua;
}

// TODO: turn this into flex

#menu {
    @include unselectable;

    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

    width: $menu-bar-width;
    background-color: $menu-background;

    $item-size: 52px;
    $item-margin: ($menu-bar-width - $item-size)/2;

    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
    scrollbar-width: thin;


    z-index: 5;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.7);
    }

    .menu-item,
    .menu-text,
    .menu-hr {
        width: $item-size;
        margin: 8px $item-margin;
        text-align: center;

    }

    .menu-hr {
        background: rgba(255, 255, 255, 0.1);
        height: 2px;
    }

    .menu-text {
        font-size: 14px;
        color: $white;
    }

    .menu-item {
        height: $item-size;
        line-height: $item-size;
        font-size: 12px;
        text-align: center;
        background-color: rgb(73, 73, 73);
        color: $theme-color;
        border-radius: 100%;

        cursor: pointer;

        @include transition(0.2s);

        svg,
        span,
        div {
            // menu item content
            display: block;
            height: 100%;
            width: 100%;
        }

        &:hover,
        &[selected] {
            border-radius: 12px;
            background-color: $theme-color;
            color: white;
        }

        &[selected]::after {
            // white pill next to selected menu item
            content: "";
            display: block;
            position: relative;
            left: -11px;
            top: -44px;
            width: 6px;
            height: 34px;
            border-radius: 3px;
            background: white;
        }
    }
}

.window {
    @include unselectable;
    position: absolute;

    background: $menu-background;
    padding: 8px;
    border-radius: 4px;

    // @include transition(0.4s);
    // transform: translateX(-100%) translateX(-$menu-bar-width);

    h1 {
        margin: 0;
        font-size: 20px;
        text-align: center;
    }

    &.small-window {
        left: $menu-bar-width * 1.1;
        top: $menu-bar-width * 0.1;
        width: 170px;
        height: 300px;
    }

    &:not(.small-window) {
        top: 5%;
        left: 10%;
        width: 80%;
        height: 90%;
    }
}


#brush-window output {
    float: right;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    outline: none;
    opacity: 0.7;
    margin: 0;
    // -webkit-transition: .2s;
    // transition: opacity .2s;

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: rgb(255, 255, 255);
        cursor: pointer;
        outline: none;
    }

    &::-moz-range-thumb {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: rgb(255, 255, 255);
        cursor: pointer;
        border: none;
    }
}