$white: rgb(247, 251, 255);
$black: rgb(33, 37, 41);
$background-color: rgb(83, 85, 90);
$theme-color: rgb(211, 146, 25);

$menu-bar-width: 70px;
$menu-background: rgba(0, 0, 0, 0.5);

//TODO: split into multiple files

@mixin transition($time) {
    -webkit-transition: $time ease-in-out;
    -moz-transition: $time ease-in-out;
    -o-transition: $time ease-in-out;
    transition: $time ease-in-out;
}

* {
    box-sizing: border-box;
}

*[hidden] {
    display: none;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    margin: 0;
    background-color: $background-color;
    color: $white;

    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;

    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.3);
}

#canvas {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#tools {
    position: absolute;
    padding: 4px;
    top: 0;
    left: $menu-bar-width;
    background-color: aqua;
}

// TODO: turn this into flex
#menu {
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

    width: $menu-bar-width;
    background-color: $menu-background;

    $item-size: 52px;
    $item-margin: ($menu-bar-width - $item-size)/2;

    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
    scrollbar-width: thin;


    z-index: 5;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.7);
    }

    .menu-item,
    .menu-text,
    .menu-hr {
        width: $item-size;
        margin: 8px $item-margin;
        text-align: center;

    }

    .menu-hr {
        background: rgba(255, 255, 255, 0.1);
        height: 2px;
    }

    .menu-text {
        font-size: 14px;
        color: $white;
    }

    .menu-item {
        height: $item-size;
        line-height: $item-size;
        font-size: 12px;
        text-align: center;
        background-color: rgb(73, 73, 73);
        color: $theme-color;
        border-radius: 100%;

        cursor: pointer;

        @include transition(0.2s);

        &:hover,
        &[selected] {
            border-radius: 12px;
            background-color: $theme-color;
            color: white;
        }

        &[selected]::after {
            // white pill next to selected menu item
            content: "";
            display: block;
            position: relative;
            left: -11px;
            top: -64px;
            width: 6px;
            height: 34px;
            border-radius: 3px;
            background: white;
        }
    }
}

#options {
    position: absolute;
    // display: none;
    // opacity: 0;
    left: $menu-bar-width;
    top: 40px;
    width: 160px;
    height: 300px;
    background: $menu-background;
    padding: 6px;

    @include transition(0.4s);
    transform: translateX(-100%) translateX(-$menu-bar-width);


    input[type=range] {
        width: 150px;
        margin: 0;
    }

}

#menu:hover+#options,
#options:hover {
    // display: block;
    // opacity: 1;
    transform: translateX(0);

    @include transition(0.1s);
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    outline: none;
    opacity: 0.7;
    // -webkit-transition: .2s;
    // transition: opacity .2s;

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: rgb(255, 255, 255);
        cursor: pointer;
        outline: none;
    }

    &::-moz-range-thumb {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: rgb(255, 255, 255);
        cursor: pointer;
        border: none;
    }
}