@import "./global.scss";

#layer-type-selector {

    margin-top: 16px;
    background: rgba(0, 0, 0, 0.3);

    border-radius: 4px;
    padding: 7px;
    overflow-y: auto;
    max-height: 38px * 8;
    @include customScrollbar;

    div {
        display: flex;
        height: 32px;
        border-radius: 3px;
        background-color: rgba(255, 255, 255, 0.1);
        margin-bottom: 4px;
        align-items: center;

        cursor: pointer;

        span:first-child {
            height: 32px;
            width: 32px;
            flex-grow: 0;
            border-radius: 3px;
        }

        span:last-child {
            flex-grow: 1;
            text-align: center;
        }


        &[selected] {
            span:first-child {
                border: 1px solid $theme-color;
            }

            color:$black;
            background-color: rgba(255, 255, 255, 0.6);
        }

    }
}


#brush-type-selector {
    margin-top: 16px;


    img {
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 2px;
        border-width: 2px;
        border-radius: 4px;
        margin-top: 4px;
        border: 1px solid rgb(163, 163, 163);


        &[selected] {
            background-color: black;
            border-color: $theme-color;
        }
    }
}

#flatten-brush-selector,
#decoration-brush-selector {
    margin-top: 8px;
    align-self: center;
}

#layers-window {
    width: 480px;
    height: auto;
    max-height: 540px;
    bottom: $menu-bar-width * 0.1;


    .sortable {
        margin: 16px 0;
        padding: 0;

        &>div {
            display: flex;
            background-color: rgba(255, 255, 255, 0.15);
            border-radius: 3px;
            padding: 4px;
            margin-left: 0;
            margin-bottom: 8px;
            height: 50px;
            align-items: center;

            &.sortable-placeholder {
                border: none;
                background-color: transparent;
            }

            .title {
                margin: 0 32px;
            }

            button,
            input {
                border: 1px solid rgba(255, 255, 255, 0.2);
                background-color: rgba(255, 255, 255, 0.1);
                color: white;
                border-radius: 4px;
                -moz-appearance: textfield;

                &:disabled {
                    border-color: rgba(0, 0, 0, 0.2);
                    background-color: rgba(0, 0, 0, 0.1);
                }

                &::-webkit-inner-spin-button,
                &::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    appearance: none;
                    margin: 0;
                }

                &:enabled:focus,
                &:enabled:hover {
                    border-color: $theme-color;
                }
            }

            button {
                height: 40px;
                width: 60px;
                padding: 0;
            }

            input[type=color] {
                margin: 0 8px;
                height: 40px;
                width: 50px;
            }

            input[type=number] {
                margin: 0 8px;
                height: 40px;
                width: 160px;
                text-align: center;
            }

            &[disabled] {
                .disable-button {
                    display: none;
                }

                background-color: rgba(0, 0, 0, 0.15);
                color: black;
            }

            &:not([disabled]) {
                .enable-button {
                    display: none;
                }

            }

            .anchor {
                height: 26px;
                width: 26px;
                text-align: center;
                cursor: pointer;

                svg {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }
    }
}

#settings-window {


    &>span {
        display: inline-block;
        width: 150px;
        margin-left: 20px;
    }

    &>h2 {
        margin: 0;
        margin-top: 32px;
        font-size: 14px;
        text-transform: uppercase;

        &:first-of-type {
            margin-top: 0;
        }
    }

    #sun-setting-box {
        &>span {
            display: inline-block;
            margin-left: 20px;
            width: 50px;
        }

        &>input {

            max-width: 200px;
        }
    }

    #export-box {
        margin-left: 20px;
    }

    button {
        margin-top: 4px;
        min-height: 28px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        background-color: rgba(255, 255, 255, 0.1);
        color: white;
        border-radius: 4px;
        -moz-appearance: textfield;

        &:disabled {
            border-color: rgba(0, 0, 0, 0.2);
            background-color: rgba(0, 0, 0, 0.1);
        }

        &:enabled:focus,
        &:enabled:hover {
            border-color: $theme-color;
        }
    }
}

#init-window {
    left: 50%;
    top: 50%;
    bottom: unset;
    right: unset;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    padding: 1.5rem;


    span {
        display: inline-block;
        width: 130px;
        text-align: right;
        margin: 3px 5px;

        &.unit {
            text-align: left;
            width: auto;
        }
    }

    input[type=number],
    select {
        width: 90px;
        text-align: center;
        text-align-last: center;
        border: 1px solid rgba(255, 255, 255, 0.8);
        background-color: rgba(255, 255, 255, 0.9);
        color: rgb(0, 0, 0);
        border-radius: 4px;
        padding: 1px;
        // padding-right: 10px;
        // -moz-appearance: textfield;
    }

    button {
        display: block;
        margin: auto;
        padding: 5px;
        width: 160px;
        font-size: 15px;
    }

    &>div {
        margin: 7px 0;

        label {
            margin-left: 6px;
            font-size: 75%;
        }

    }

}


#generation-window {

    button,
    input {
        padding: 2px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        background-color: rgba(255, 255, 255, 0.1);
        color: white;
        border-radius: 4px;
        -moz-appearance: textfield;
        margin: 1px 3px;
        width: 200px;


        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            appearance: none;
            margin: 0;
        }

        &:enabled:focus,
        &:enabled:hover {
            border-color: $theme-color;
        }
    }

}