@import "./global.scss";

#layer-type-selector {

    margin-top: 16px;
    background: rgba(0, 0, 0, 0.3);

    border-radius: 4px;
    padding: 7px;
    overflow-y: auto;
    max-height: 38px * 8;
    @include customScrollbar;

    div {
        display: flex;
        height: 32px;
        border-radius: 3px;
        background-color: rgba(255, 255, 255, 0.1);
        margin-bottom: 4px;
        align-items: center;

        cursor: pointer;

        span:first-child {
            height: 32px;
            width: 32px;
            flex-grow: 0;
            border-radius: 3px;
        }

        span:last-child {
            flex-grow: 1;
            text-align: center;
        }


        &[selected] {
            span:first-child {
                border: 1px solid $theme-color;
            }

            color:$black;
            background-color: rgba(255, 255, 255, 0.6);
        }

    }
}


#brush-type-selector {
    margin-top: 16px;


    img {
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 2px;
        border-width: 2px;
        border-radius: 4px;
        margin-top: 4px;
        border: 1px solid rgb(163, 163, 163);


        &[selected] {
            background-color: black;
            border-color: $theme-color;
        }
    }
}

#flatten-brush-selector {
    margin-top: 8px;
}

#layers-window {
    overflow-y: auto;

    left: $menu-bar-width * 1.1;
    top: $menu-bar-width * 0.1;
    width: 480px;
    height: auto;
    max-height: 540px;
    bottom: $menu-bar-width * 0.1;

    padding-right: 2px;

    overflow-y: scroll;
    overflow-x: hidden;

    @include customScrollbar;

    .sortable {
        margin: 16px 0;
        padding: 0;

        &>div {
            display: flex;
            background-color: rgba(255, 255, 255, 0.15);
            border-radius: 3px;
            padding: 4px;
            margin-left: 0;
            margin-bottom: 8px;
            height: 50px;
            align-items: center;

            &.sortable-placeholder {
                border: none;
                background-color: transparent;
            }

            .title {
                margin: 0 32px;
            }

            button,
            input {
                border: 1px solid rgba(255, 255, 255, 0.2);
                background-color: rgba(255, 255, 255, 0.1);
                color: white;
                border-radius: 4px;
                -moz-appearance: textfield;

                &:disabled {
                    border-color: rgba(0, 0, 0, 0.2);
                    background-color: rgba(0, 0, 0, 0.1);
                }

                &::-webkit-inner-spin-button,
                &::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    appearance: none;
                    margin: 0;
                }

                &:enabled:focus,
                &:enabled:hover {
                    border-color: $theme-color;
                }
            }

            button {
                height: 40px;
                width: 60px;
                padding: 0;
            }

            input[type=color] {
                margin: 0 8px;
                height: 40px;
                width: 50px;
            }

            input[type=number] {
                margin: 0 8px;
                height: 40px;
                width: 160px;
                text-align: center;
            }

            &[disabled] {
                .disable-button {
                    display: none;
                }

                background-color: rgba(0, 0, 0, 0.15);
                color: black;
            }

            &:not([disabled]) {
                .enable-button {
                    display: none;
                }

            }

            .anchor {
                height: 26px;
                width: 26px;
                text-align: center;
                cursor: pointer;

                svg {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }
    }
}

#settings-window {


    &>span {
        display: inline-block;
        width: 150px;
        margin-top: 12px;
    }

    #sun-setting-box {
        &>span {
            display: inline-block;
            margin-left: 32px;
            width: 50px;
        }

        &>input {

            max-width: 200px;
        }
    }
}