@import "./global.scss";

#layer-type-selector {

    margin-top: 16px;
    background: rgba(0, 0, 0, 0.3);

    border-radius: 4px;
    padding: 7px;

    span {
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 2px;
        border-width: 2px;
        border-style: ridge;
        border-color: white;


        &[selected] {
            border-style: groove;
            border-radius: 100%;
            border-color: $theme-color;
        }

    }
}


#brush-type-selector {
    margin-top: 16px;


    img {
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 2px;
        border-width: 2px;
        border-radius: 4px;
        margin-top: 4px;
        border: 1px solid rgb(163, 163, 163);


        &[selected] {
            background-color: black;
            border-color: $theme-color;
        }
    }
}

#settings-window {

    #sun-pitch,
    #sun-yaw {
        width: 49%;
    }
}